[build]
  base = "vanilla-site"
  publish = "."
  command = ""

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-nextjs"
  
[plugins.inputs]
  disable = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

